* {
    background: black;
}

.typewriter{
    margin-top: 80px;
    margin-left: 20px;
    background-color: transparent;
    width: 470px;

    h1 {
        color: white;
        background-color: transparent;
    }
}


  