.footer{

    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;

    ul {
        list-style: none;
        padding: 0;
        

        li:nth-child(1) {
            opacity: 0;
            animation: fadeIn 1s 1;
            animation-fill-mode: forwards;
            animation-delay: 6s;
        }
        li:nth-child(2) {
            opacity: 0;
            animation: fadeIn 1s 1;
            animation-fill-mode: forwards;
            animation-delay: 6.5s;
        }
        li:nth-child(3) {
            opacity: 0;
            animation: fadeIn 1s 1;
            animation-fill-mode: forwards;
            animation-delay: 7s;
        }

        li {
            display: inline-block;
            

            

            svg {
                width: 45px;
                transition: .2s;
                animation: inputShadow 1s normal;
                filter: drop-shadow(2px 4px 6px black);
                animation-delay: 8s;


                path {
                    fill: white;
                    animation: colorChange .7s normal;
                    animation-delay: 7.3s;
                }
              }

            svg:hover {
                border-bottom: 1px solid #f19101;
                transform: scale(1.2);

                path {
                    fill: #f19101;
                }

              }
        }
    }
}

@keyframes fadeIn {
    100% {
      opacity: 1.0;
    }
  }

  @keyframes colorChange {
    0%
    {
        fill: white;
    }
    50%{
        fill:#f19101;
    }
    100%{
        fill: white;

    }
}

@keyframes inputShadow {
    0%
    {
        fill: white;
    }
    50%{
        fill:#f19101;
    }
    100%{
        fill: white;
    }
}
  
  