<div class="father-cards">
    <mat-card class="card">

        <div class="card-image">
            <img src="./angular-portfolio/assets/appClub.png">
        </div>

        <p class="card-text">AppClub, Multi tenant SAAS PWA application, created for clubs in general, made with C#, Angular, Ionic and SQL Server, with loads of features like registering vehicles, vessels, renting places, scheduling events, notifications and stuff.</p>

    </mat-card>

    <mat-card class="card">
        <div class="card-image">
            <img src="./angular-portfolio/assets/asc-club.svg">
        </div>

        <p class="card-text">AscClub Admin, Multi tenant Admin website, made with Angular, Metronic, Angular Material, C# and SQL SERVER, in order to allow club managers to control almost every inch from the main application, creating and manipulating logs, controlling inner system statuses, enabling and disabling app functions, or even manipulating the app theme by changing logos, images, colors or email layouts.</p>
    </mat-card>

    <mat-card class="card">
      <a href="https://github.com/Rodrigocambraia14/TravelAgency-MVC" target="_blank">
        <div class="card-image">
            <img src="./angular-portfolio/assets/travel-agency.png">
        </div>

        <p class="card-text">Project made with study purposes, Built with C#, MySQL, HTML and CSS, using MVC architecture, with features like users logging, user session, and travel packages CRUD's </p>
      </a>
    </mat-card>
</div>

<div class="footer-message">
    <h2>See more !</h2>
    <mat-icon>
        expand_more
    </mat-icon>
</div>