<div class="father-cards">
    <mat-card class="card">

        <div class="card-image">
            <img src="assets/appClub.png">
        </div>

        <p class="card-text">AppClub, Multi tenant SAAS PWA application, created for clubs in general, made with C#, Angular, Ionic and SQL Server, with loads of features like registering vehicles, vessels, renting places, scheduling events, parameterized logos and background imagens, push notifications and a lot more.</p>

    </mat-card>

    <mat-card class="card">
        <div class="card-image">
            <img src="assets/asc-club.svg">
        </div>

        <p class="card-text">AscClub Admin, Multi tenant Admin website, made with Angular, Metronic, Angular Material, C# and SQL SERVER, in order to allow club managers to control almost every inch from the main application, creating and manipulating logs, controlling inner system statuses, enabling and disabling app functions, or even manipulating the app theme by changing logos, images, colors or email layouts.</p>
    </mat-card>

    <mat-card class="card">
      <a href="https://github.com/Rodrigocambraia14/TravelAgency-MVC" target="_blank">
        <div class="card-image">
            <img src="assets/travel-agency.png">
        </div>

        <p class="card-text">Project made with study purposes, Built with C#, MySQL, HTML and CSS, using MVC architecture, with features like users logging, user session, and travel packages CRUD's </p>
      </a>
    </mat-card>

    
</div>

<div class="father-cards last">
    <mat-card class="card">
          <div class="card-image">
              <img src="assets/localiza.jpg">
          </div>
  
          <p class="card-text">Worked at internal API's using the most recent tools and technologies available from Localiza &CO, providing  important informations to keep internal processes working as intended. Also doing bugfixes in legacy projects with monolith architecture that require a lot of experience and attention to deal with.</p>
      </mat-card>

      <mat-card class="card">
          <div class="card-image">
              <img src="assets/voucher.png">
          </div>
  
          <p class="card-text">Worked at a legacy project of an app that sells event tickets, developing new features like creating thousands of coupons at once, generating coupon codes, managing event configurations, and also working with bugfixings.</p>
      </mat-card>

      <mat-card class="card">
        <div class="card-image">
            <img src="assets/wpf.png">
        </div>

        <p class="card-text">WPF with .NET 7 allowing the user to download mp3/mp4 files from a youtube link, with modern UI/UX, available at my github profile and made with study purposes.</p>
    </mat-card>
</div>

<div class="footer-message">
    <h2>See more !</h2>
    <mat-icon>
        expand_more
    </mat-icon>
</div>