

<div class="father">
    <div class="father-inner">
        <div class="options">
            <div (click)="changeTextView('developer')">
                <p class="inner-text" [ngClass]="{'is-selected': devText }">AS DEVELOPER</p>
            </div>
        
            <div (click)="changeTextView('person')">
                <p class="inner-text" [ngClass]="{'is-selected': personText}">AS PERSON</p>
            </div>
        </div>
    
    <p *ngIf="devText" style="color:white; padding-left: 50px; padding-top: 10px;">I'm a full-stack developer, currently working with C#, Angular, Ionic, SQL Server, Entity Framework and other stuff. I've worked with some multi tenant SAAS projects, using SOLID, DDD, CQRS, migrations, C# and Angular / Ionic, and also worked with a legacy multi tenant website that uses C#, MySql, Jquery and AJAX.</p>

    <p *ngIf="personText" style="color:white; padding-left: 50px; padding-top: 10px;">My name is Rodrigo, in my free time, I'm usually playing games or running / riding a bike in order to keep my health as good as possible. I also love travelling to mountain cities when I'm able to.</p>

    </div>
    <div>
        <img class="profile-image" src="../assets/eu.jpg" alt="Eu">
    </div>
</div>