

<div class="father">
    <div class="father-inner">
        <div class="options">
            <div (click)="changeTextView('developer')">
                <p class="inner-text" [ngClass]="{'is-selected': devText }">AS DEVELOPER</p>
            </div>
        
            <div (click)="changeTextView('person')">
                <p class="inner-text" [ngClass]="{'is-selected': personText}">AS PERSON</p>
            </div>
        </div>
    
    <p *ngIf="devText" style="color:white; padding-left: 50px; padding-top: 10px;">I'm a software engineer, currently working with C#, .NET, Angular, Ionic, SQL Server, Entity Framework and other stuff. I've worked with some multi tenant SAAS projects, using SOLID, DDD, CQRS, migrations, C# and Angular / Ionic, and also worked with a legacy multi tenant website that uses C#, MySql, Jquery and AJAX. Used to work in teams with Azure DevOps, and agile SCRUM methodology.</p>

    <p *ngIf="personText" style="color:white; padding-left: 50px; padding-top: 10px;">My name is Rodrigo, I consider myself a really calm and patient person, committed to my objectives and desires. In my free time, I'm usually playing games or running / riding a bike in order to keep my health as good as possible, also, I love travelling to mountain cities when I'm able to.</p>
    </div>
    <div>
        <img class="profile-image" src="assets/eu.jpg" alt="Eu">
    </div>
</div>